{% extends 'revistadigital/layout.html' %}
{% block content %}

<div class="container fluid" style="margin-top: 10px;">
    <div class="row" style="margin: 10px;">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Wilfredo A. Mouzalli G.</h5>
                    <p class="card-text">C.I. 30.710.702</p>
                </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Sección: 201 </li>
                        <li class="list-group-item">Curso: Introducción al Procesamiento de Datos </li>
                        <li class="list-group-item">Carrera: Administración Mención Mercadeo </li>
                    </ul>
            </div>
        </div>
    </div>
    <div class="row" style="margin: 10px;">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Carlos J. Peréz M.</h5>
                    <p class="card-text">C.I 30.592.691</p>
                </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Sección: 201</li>
                        <li class="list-group-item">Curso: Introducción al Procesamiento de Datos</li>
                        <li class="list-group-item">Carrera: Administración Mención Mercadeo</li>
                    </ul>
            </div>
        </div>
    </div>
    <div class="row" style="margin: 10px;">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Luis Parra</h5>
                    <p class="card-text">C.I. 20.200.200</p>
                </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Sección: 201</li>
                        <li class="list-group-item">Curso: Introducción al Procesamiento de Datos</li>
                        <li class="list-group-item">Carrera: Administración Mención Mercadeo</li>
                    </ul>
            </div>
        </div>
    </div>
    <div class="row" style="margin: 10px;">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                    </ul>
            </div>
        </div>
    </div>
</div>
    

{% endblock %}